$marron: brown;
$negro: black;


.blog__titulo--color {
    color: $marron;}

.blog__subTitulo--color {
    color: $marron;}

.blog__texto--color {
    color: $negro;}

.section__titulos--color {
    h1 {
        color: brown;}
    h3 {
        color: brown;}}

.blog__card--color div {
    .btn {
        color: rgb(255, 255, 255);
        background-color: brown;}}

.gridFooter{
    margin-top: 2%;
    background-color: rgb(236, 188, 188);
    padding-bottom: 5%;
}

/*BACKGROUND*/
header {
    background-color: rgb(236, 188, 188);}

.backgroundCarousel {    
    background-color: rgba(165, 42, 42, 0.637);
    padding: 1% 10% 1% 10%;
    margin: 1%;}


    